trunk/globalmentor-javascript/.classpath
trunk/globalmentor-javascript/.project
trunk/globalmentor-javascript/.settings
trunk/globalmentor-javascript/target
trunk/globalmentor-rdf/.classpath
trunk/globalmentor-rdf/.project
trunk/globalmentor-rdf/.settings
trunk/globalmentor-rdf/target
trunk/globalmentor-text-xml-processor/.classpath
trunk/globalmentor-text-xml-processor/.project
trunk/globalmentor-text-xml-processor/.settings
trunk/globalmentor-text-xml-processor/target
