trunk/globalmentor-css/.classpath
trunk/globalmentor-css/.project
trunk/globalmentor-css/.settings
trunk/globalmentor-css/target
trunk/globalmentor-javascript/.classpath
trunk/globalmentor-javascript/.project
trunk/globalmentor-javascript/.settings
trunk/globalmentor-javascript/target
trunk/globalmentor-rdf/.classpath
trunk/globalmentor-rdf/.project
trunk/globalmentor-rdf/.settings
trunk/globalmentor-rdf/target
trunk/globalmentor-w3c-spec/.classpath
trunk/globalmentor-w3c-spec/.project
trunk/globalmentor-w3c-spec/.settings
trunk/globalmentor-w3c-spec/target
trunk/globalmentor-xml-dom-impl/.classpath
trunk/globalmentor-xml-dom-impl/.project
trunk/globalmentor-xml-dom-impl/.settings
trunk/globalmentor-xml-dom-impl/target
trunk/globalmentor-xml/.classpath
trunk/globalmentor-xml/.project
trunk/globalmentor-xml/.settings
trunk/globalmentor-xml/target
