assessment
{
	display: block;
}

questestinterop
{
	display: block;
}

item
{
	display: block;
}

presentation
{
	display: block;
}

material
{
	display: block;
}

mattext
{
	display: block;
}

response_lid
{
	display: block;
}

render_choice
{
	display: block;
	list-style-type: disc;
	margin-left: 2em;
}

render_hotspot
{
	display: none;
}

response_label
{
	display: list-item;
}

resprocessing
{
	display: none;
}

section
{
	display: block;
}
